<%= form_for @bid, url: item_bids_path(params[:item_id]) do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount, "Enter bid in $" %><br>
    <%= f.number_field :amount, :step => 0.01 %>
  </div>
  <div class="field">
  
    <%= f.hidden_field :item_id %>
  </div>
  <div class="field">
  
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
