<p id="notice"><%= notice %></p>

<h1>Bidded items</h1>


<% if @items.count > 0 %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Picture</th>
        <th>End time</th>     
        <th>Your bid</th>
        <th>Highest bid</th>       
        <th>Alert</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= Category.find(item.category_id).name %></td>
          <td><%= image_tag item.picture_url(:large).to_s %></td>
          <td><%= item.time_present %></td>       
          <% if item.bids.count > 0 %>  
              <td><%= item.max_user_bid(current_user)%></td>                   
              <td><%= item.max_bid%></td>              
            <% else %>
              <td></td>
              <td></td>       
            <% end %>

         <td><%= current_user.alert(item)%></td>
          <td><%= link_to 'Show', item %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

No items to display

<% end %>

<br>


