<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@item.category_id).name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @item.picture_url(:large).to_s %>
</p>

<p>
  <strong>Time left:</strong>
  <%= @item.time_present %>
 
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Bids:</strong><br>

  <% @item.bids.each do |b| %>

    <%= link_to b.user.name, b.user %></td>
    
    <%= b.amount %><br>

  <% end %>

</p>

<% if @item.user != current_user %>
  <%= link_to 'New Bid', new_item_bid_path(:item_id => @item.id) %><br>
<% end %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
