<p id="notice"><%= notice %></p>
<div class ="panel panel-info"> 
  <div class = "panel panel-heading">
    <p>
      <strong>Name:</strong>
      <%= @item.name %>
    </p>
  </div>
  <div class ="panel panel-body">
  <p>
    <%= image_tag @item.picture_url(:preview).to_s %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @item.user.name %>
  </p>
  <p>

  <p>
    <strong>Category:</strong>
    <%= Category.find(@item.category_id).name %>
  </p>

  <p>
    <strong>Maximum bids per user</strong>
    <%= @item.bid_limit %>
  </p>
  <div class="panel panel-footer"> 
    <strong>Time left:</strong>
    <%= @item.time_present %>
</div>
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Amount", :sort => "amount" %></th>
      <th>Item</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item.bids.each do |bid| %>
      <tr>
        <td><%= bid.amount %></td>
        <td><%= bid.item_id %></td>
        <td><%= bid.user_id %></td>
        <td><%= link_to 'Show',    item_bids_path(bid) %></td>
        <td><%= link_to 'Edit',    item_bids_path(bid.item) %></td>
        <td><%= link_to 'Destroy', item_bids_path(bid.item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>


<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@item.category_id).name %>
</p>

<p>

  <%= image_tag @item.picture_url(:preview).to_s %>
</p>

<p>
  <strong>Time left:</strong>
  <%= @item.time_present %>
 
</p>

<p>
  <strong>Bids:</strong><br>

  <% @item.bids.each do |b| %>

    <%= link_to b.user.name, b.user %></td>
    
    <%= b.amount %><br>

  <% end %>

</p>

<% if @item.user != current_user %>
 
  <%= link_to 'New Bid', new_item_bid_path(:item_id => @item.id) %><br>
  <%= link_to 'Back', items_path %>
  
<% else %>
  <%= link_to 'Edit', edit_item_path(@item) %><br>
  <%= link_to 'Back', my_items_path %>
<% end %>


