<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@item.category_id).name %>
</p>

<p>

  <%= image_tag @item.picture_url(:preview).to_s %>
</p>

<p>
  <strong>Time left:</strong>
  <%= @item.time_present %>
 
</p>
<p>
  <strong>Maximum bids per user</strong>
  <%= @item.bid_limit %>
 
</p>

<table>
  <tr>
    <th><%= link_to "User" %></th>
    <th><%= link_to "Bid" %></th>
  </tr>
  <% @item.bids.sort_by &:amount do |b| %>
  <tr>
    <td><%= link_to b.user.name, b.user %></td>
    <td><%= number_to_currency(b.amount) %></td>
  </tr>
  <% end %>
</table>

<% if @item.user != current_user %>

  <% if current_user.bids.where(item_id: @item.id).count < @item.bid_limit %> 
    <%= link_to 'New Bid', new_item_bid_path(:item_id => @item.id) %><br>
  <% else %>
    No more bids allowed
  <% end %><br>

  <%= link_to 'Back', items_path %>
<% else %>
  <%= link_to 'Edit', edit_item_path(@item) %><br>
  <%= link_to 'Back', my_items_path %>
<% end %>


